* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    width: 1280px;
    margin: 0 auto;
}


.header-menu {
    text-align: center;
    color: #F00;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 25px 0 25px 0;

}

.header-menu li {
    display: inline-block;

}

.header-menu-item {
    margin-right: 70px;
}

.header-menu-link {
    text-decoration: none;
    color: red;
    font-family: Montserrat;
}

.main {
    width: 1280px;
    margin: 0 auto;
}

.main-banner {
    width: 1280px;
    margin: 0 auto;
}

.page-title {
    width: 774px;
    color: #373737;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin: 48px 253px 38px 253px;
}

.main-text {
    width: 1145px;
    color: #373737;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 0px 67px 28px 67px;
}

.button {
    width: 191px;
    height: 51px;
    border-radius: 4px;
    background: #F00;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 18px 40px 18px 40px;
    margin-top: 66px;
    margin-right: 544px;
    margin-left: 544px;
    margin-bottom: 42px;
}

.footer {
    width: 1280px;
    margin: 0 auto;
}

.footer-text {
    width: 462px;
    height: 39px;
    color: #373737;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    margin-left: 713px;
    margin-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
}